* *:before *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  color: white;
}

@media (min-width: 768px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

#main-navbar {
  height: 48px;
  border-bottom: 2px solid gray;
}

#main-navbar a {
  color: red;
  padding: 8 16px;
}

#main-navbar .navbar-brand {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.5rem;
}

#main-container {
  background: url(../imgs/main-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  margin-top: 48px;
}

#about-container {
  background: url(../imgs/about-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

#test {
  background: #dc3545;
  height: 200px;
}

.nav-item #signup {
  background: #dc3545;
  color: white;
  border-radius: 32px;
  padding: 8px 16px;
}

.nav-item #signup:hover {
  background: #b6081a;
}

.nav-item #signin {
  padding: 8px 16px;
}

.nav-item #signin:hover {
  color: #b6081a;
}

.fa-map-marker-alt {
  font-size: 1.5rem;
  color: #dc3545;
  height: 100%;
}


#search-container {
  width: 600px;
  margin: 20px 0 0 80px;
  padding: 8px 16px;
  border-radius: 32px;
  line-height: 1.5;

}

#address-container {
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  background: white;
}


#address-form {
  padding: 0;
  width: 90%;
  border: none;
  outline: none;
  margin-left: 10px;
  height: 100%;
}

#find-restaurants {
  height: 100%;
  color: white;
  background: #dc3545;
  outline: none;
  border: none;
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
  padding: 8px 30px;
  cursor: pointer;
}

#find-restaurants:hover {
  background: #b6081a;
}

#tagline {
  /* background: blue; */
  margin: 400px 0 0 150px;
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 4px 4px 10px black;
  width: 400px;
}